{% extends "inicial.html" %}
{% block conteudo %}
    <div>
        <div style="text-align: center;">
            <h4>Listagem de Pessoas</h4>
        </div>

        <div>
            <a class="btn btn-warning" style="color: white;" href="nova">Nova</a>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.telefone }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{pessoa.id}}/editar">Editar</a>
                        <a class="btn btn-danger" href="{{pessoa.id}}/apagar">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}