{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<div>
    <div style="text-align: center;">
        <h4>Pessoa</h4>
    </div>

    <form action="">
        <div class="row form-group" style="padding: 5%;">
            <div class="col-12 col-md-12">
                <label for="">Id</label>
                <input class="form-control" type="text" name="id" value="{{pessoa.id}}">
            </div>
            <div class="col-12 col-md-12">
                <label for="">Nome</label>
                <input class="form-control" type="text" name="nome" value="{{pessoa.nome}}">
            </div>
            <div class="col-12 col-md-12">
                <label for="">Telefone</label>
                <input class="form-control" type="text" name="telefone" value="{{pessoa.telefone}}">
            </div>
            <div class="col-12 col-md-12">
                <label for="">Email</label>
                <input class="form-control" type="text" name="email" value="{{pessoa.email}}">
            </div>
        </div>
    </form>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>